.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 1em;  
}

.hidden {
    display: none !important;
}
#errorsymbol {
    display: inline;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}
